<!-- Example single danger button -->
<div class="btn-group">
  <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Category
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#"></a>
    <a class="nav-link" data-toggle="modal" data-target="#myModal" href="#">ADD CATEGORY</a>
    <a class="nav-link" href="#">Category List</a>
</div>

<!-- Example single danger button -->
<div class="btn-group" >
  <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Product
  </button>
  <div class="dropdown-menu">
    <a class="nav-link" href="/product/add-product">ADD PRODUCT</a>
    <a class="dropdown-item" href="#">Delete Product</a>
    <a class="dropdown-item" href="#">Product List</a>
    <a class="dropdown-item" href="#">Edit Product</a>
</div>

<div class="modal fade" id="myModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
    
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Add Category</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      
      <!-- Modal body -->
      <div class="modal-body">
        <form action="/category/add" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label>Category Name</label>
                <input type="text" name="categoryName" class="form-control"/>
            </div>
            
            <div class="form-group">
                <label>Category Image</label>
                <input type="file" name="categoryImage"/>
            </div>
            <div class="form-group">
                <button class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <button class="btn btn-primary" type="submit">Add</button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>