<!DOCTYPE html>
<html lang="en">
<head>
  <title><%=title%></title>
  <%-include('partial/bootstrap.ejs')%>
  <link rel="stylesheet" href="/css/style2.css"/>
</head>
<body>
<%- include('partial/navigation.ejs')%>

<div class="container-fluid">
<html>
<body>
<div class="slideshow-container">

 <div class="mySlides fade">
  <div class="numbertext">1 / 3</div>
  <img src="/images/banner.jpg" style="width: 185%"height=300px>
  <div class="text">Sofa</div>
</div>

<div class="mySlides fade">
  <div class="numbertext">2 / 3</div>
  <img src="/images/banner3.jpg" style="width: 290%"height=300px>
  <div class="text">Sofa</div>
</div>

<div class="mySlides fade">
  <div class="numbertext">3 / 3</div>
  <img src="images/banner4.jpg" style="width: 265%"height=300px>
  <div class="text">Chair</div>
</div>

</div>
<br>

<div style="text-align:center">
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 
</div>

<script src="../java_script/js1.js"></script>
     </body>
   </html> 
  </div>
 </body>
</html>