<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partial/boot.ejs')%>
</head>
<body>
    <%- include('./partial/menu.ejs')%>
    <div class="container mt-5">
        <div class="row">
            <div class="col-12 banner">
              <p>Any query plese contact to faizan khan sir : 7723976615</p>
            </div>
        </div>
</body>
</html>


