<nav class="navbar navbar-expand-lg navbar-light bg-color ">
  <a class="navbar-brand" href="#"><h1>infoBeans<br>Foundation.</h1></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse "  id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link bg-dark text-light" href="/"><h3>HOME</h3><span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link bg-warning text-light" href="/about"><h3>ABOUT US</h3></a>
      </li>
      <li class="nav-item">
        <a class="nav-link bg-info text-light" href="/contact"><h3>CONTACT US</h3></a>
      </li>
      <li class="nav-item">
        <a class="nav-link bg-success text-light" href="/login"><h3>LOGIN</h3></a>
      </li>
      <li class="nav-item">
        <a class="nav-link bg-primary text-light  " href="/register"><h3>REGISTRATION</h3></a>
      </li>
  </div>
</nav>