
    <head>
        <title><%=title%></title>
     
        <%-include('../partial/bootstrap.ejs')%>
        .body{
          
        }
    </head>
    <body>
   
         <%- include('../partial/navigation_admin.ejs')%>
         <nav class="navbar bg-light">

          <!-- Links -->
          <img src="/public/images/banner.jpg">
        
        </nav>
    </body>
</html>